.author-form{

  h5 {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    color: #497571;
    display: inline;
  }
}
.xclose {
  cursor: pointer;
  width: 20px !important;
  height: 20px !important;
}
.author-label {
  font-size: xx-small;
}

